# Question 1#
Consider the following Python module:
<br>a = 0
<br>def b():
<br>global a
<br>a = c(a)
<br>def c(a):
<br>return a + 2
<br>After importing the module into the interpreter, you execute:
<br>b()
<br>b()
<br>b()
<br>a
<br>?
<br>What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [6]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [7]:
b()

a=0 -> a=c(a) and excute c(a=0) -> a=0+2=2

In [8]:
b()

a=2 -> a=c(a) and excute c(a=2) -> a=2+2=4

In [9]:
b()

a=4 -> a=c(a) and excute c(a=4) -> a=4+2=6

In [10]:
a

6

# Question 2 #
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: <br> fileLength('midterm.py') 284 <br>fileLength('idterm.py') <br>Traceback (most recent call last): <br>File "<pyshell#34>", line 1, in <module> <br>fileLength('idterm.py') <br>File "/Users/me/midterm.py", line 3, in fileLength <br>infile = open(filename) <br>FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'<br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: <br>fileLength('midterm.py') 358 <br> fileLength('idterm.py') File idterm.py not found.

In [31]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + file_name+" not found")

In [32]:
fileLength("Filelength.txt")

123

In [33]:
fileLength("midterm.py")

File midterm.py not found

# Question 3 # 
Write a class named Marsupial that can be used as shown below: <br> m = Marsupial() <br> m.put_in_pouch('doll') <br> m.put_in_pouch('firetruck') <br>m.put_in_pouch('kitten') <br> m.pouch_contents() ['doll', 'firetruck', 'kitten']

In [35]:
class Marsupial():
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,stuff):
        self.pouch.append(stuff)
    def pouch_contents(self):
        print(self.pouch)

In [36]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [37]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br>
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and<br>
c. overloads the __str__ operator so it behaves as shown below.
<br> k = Kangaroo(0,0) <br> print(k) I am a Kangaroo located at coordinates (0,0) <br> k.put_in_pouch('doll') <br> k.put_in_pouch('firetruck') <br> k.put_in_pouch('kitten') <br> k.pouch_contents() ['doll', 'firetruck', 'kitten'] <br> k.jump(1,0) <br> k.jump(1,0) <br> k.jump(1,0) <br> print(k) I am a Kangaroo located at coordinates (3,0)

In [38]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def jump(self,dx,dy):
        self.x +=dx
        self.y +=dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [39]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [40]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [41]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4 #
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:<br>
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛<br>3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑<br>
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.<br>

In [101]:
def collatz(x):   
    if x==1:
        print(1)
    elif x !=1 and x%2==1:
        print(int(x))
        collatz(3*x+1)    
    elif x%2 ==0:
        print(int(x))
        collatz(x/2)

In [102]:
collatz(1)

1

In [103]:
collatz(10)

10
5
16
8
4
2
1

# Question 5 # 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [94]:
def binary(n):
    if n == 0:
        return "0"
    elif n==1:
        return "1"
    else:
        return binary(n//2) + str(n%2)

In [97]:
binary(0)

'0'

In [98]:
binary(1)

'1'

In [99]:
binary(3)

'11'

In [100]:
binary(9)

'1001'

# Question 6 #
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
<br>infile = open('w3c.html')
<br>content = infile.read()
<br> infile.close()
<br>hp = HeadingParser()
<br> hp.feed(content)
W3C Mission
Principles

In [30]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):
    heading = False
    indentation = 0
    def handle_starttag(self, tag, attrs):
        if re.match(r'h\d{1}',tag):
            self.heading =True
            
    def handle_data(self, data):
        if self.heading: 
            print(self.indentation * " " + data)
            self.indentation+=1
            
    def handle_endtag(self, tag):
        if re.match(r'h\d{1}',tag):
            self.heading =False

In [31]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7 #
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. <br>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [1]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [2]:
def webdir(url,depth,indent):    
    print("  "*indent + url)
    if depth ==0:
        return 
    else:
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        url_list =collector.getLinks()
        for urls in url_list:
            webdir(urls,depth-1,indent+1)

In [3]:
webdir("http://reed.cs.depaul.edu/lperkovic/one.html",2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
  http://reed.cs.depaul.edu/lperkovic/two.html
    http://reed.cs.depaul.edu/lperkovic/four.html
  http://reed.cs.depaul.edu/lperkovic/three.html
    http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8 #
Write SQL queries on the below database table that return:<br>
a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.<br>

In [37]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: six in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.13)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.2 MB/s eta 0:00:011
Requirement already satisfied: backcall in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pygments in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: jedi>=0.10 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: wcwidth in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /Users/mengzhao/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13698 sha256=0260350a2e0d36116010ff368637645bb2f7273f2a6368c3da37302e7682c639
  Stored in directory: /Users/mengzhao/Library/Caches/pip/wheels/8c/76/0b/eb9eb3da7e2335e3577e3f96a0ae9f74f206e26457bd1a2bc8
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [2]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [3]:
%%sql
CREATE TABLE rain(City varchar(100),Country varchar(100),Season varchar(100),Temperature float ,Rainfall float);

 * sqlite:///chinook.db
(sqlite3.OperationalError) table rain already exists
[SQL: CREATE TABLE rain(City varchar(100),Country varchar(100),Season varchar(100),Temperature float ,Rainfall float);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [72]:
%%sql
INSERT INTO rain VALUES('Mumbai','India', 'Winter',24.8,5.9);
INSERT INTO rain VALUES('Mumbai','India', 'Spring',28.4,16.2);
INSERT INTO rain VALUES('Mumbai','India', 'Summer',27.9,1549.4);
INSERT INTO rain VALUES('Mumbai','India', 'Fall',27.6,346.0);
INSERT INTO rain VALUES('London','United Kingdom', 'Winter',4.2,207.7);
INSERT INTO rain VALUES('London','United Kingdom', 'Spring',8.3,169.6);
INSERT INTO rain VALUES('London','United Kingdom', 'Summer',15.7,157.0);
INSERT INTO rain VALUES('London','United Kingdom', 'Fall',10.4,218.5);
INSERT INTO rain VALUES('Cairo','Eqypt', 'Winter',13.6,16.5);
INSERT INTO rain VALUES('Cairo','Eqypt', 'Spring',20.7,6.5);
INSERT INTO rain VALUES('Cairo','Eqypt', 'Summer',27.7,0.1);
INSERT INTO rain VALUES('Cairo','Eqypt', 'Fall',22.2,4.5);

 * sqlite:///chinook.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [73]:
%%sql
SELECT * FROM rain;

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Eqypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Eqypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

In [76]:
#a) All the temperature data.
%sql SELECT Temperature FROM rain

 * sqlite:///chinook.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [77]:
#b) All the cities, but without repetition.
%sql SELECT DISTINCT City FROM rain

 * sqlite:///chinook.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [79]:
#c) All the records for India.
%sql SELECT * FROM rain WHERE Country ="India"

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [81]:
#d) All the Fall records.
%sql SELECT * FROM rain WHERE Season = "Fall"

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

In [90]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
%sql SELECT City,Country,Season FROM rain WHERE Rainfall BETWEEN 200 AND 400

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [92]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
%sql SELECT City,Country FROM rain WHERE Season = "Fall" AND Temperature >20 ORDER by Temperature ASC

 * sqlite:///chinook.db
Done.

[('Cairo', 'Eqypt'), ('Mumbai', 'India')]

In [94]:
#g) The total annual rainfall for Cairo.
%sql SELECT SUM(Rainfall) FROM rain WHERE City="Cairo"

 * sqlite:///chinook.db
Done.

[(27.6,)]

In [96]:
#h) The total rainfall for each season.
%sql SELECT Season,SUM(Rainfall) FROM rain GROUP BY Season

 * sqlite:///chinook.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9 #
Suppose list words is defined as follows:<br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']<br>
Write list comprehension expressions that use list words and generate the following lists:<br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']<br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']<br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).<br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)<br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [108]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [109]:
[x.upper() for x in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [110]:
[x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [113]:
[len(x) for x in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [115]:
[[x.upper(),x.lower(),len(x)] for x in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [116]:
[x for x in words if len(x)>=4]

['quick', 'brown', 'jumps', 'over', 'lazy']